<%= form_for(@pool) do |f| %>
  <% if @pool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pool.errors.count, "error") %> prohibited this pool from being saved:</h2>

      <ul>
      <% @pool.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name:", :class => "round" %><br />
    <%= f.text_field :name, :class => "round" %>
  </div>
  <div class="field">
    <%= f.label :timelimit, "Time Limit:", :class => "round" %><br />
    <%= f.text_field :timelimit, :class => "round" %>
  </div>
  <div class="actions">
    <%= f.submit "Update Group" %>
  </div>
<% end %>
