<h1>Edit Group</h1>

<%= render 'form' %>

<hr>

<h1>Invite other people to join this group:</h1>
  <%= form_tag(:controller => :pages, :action => :invite_members) do %>
  Enter email addresses separated by commas:<br />
  <invite>
  <%= text_area_tag "emails", "", :class => "round" %><br/>
  </invite>
  Personalized message: (we will provide basic information in the invite)<br />
  <personal_message>
  <%= text_area_tag "message", "", :class => "round" %><br/>
  </personal_message>
  <%= hidden_field_tag "group_id", @pool.id %>
  <%= submit_tag 'Send Invite' %>
  <% end %>
</p>

<%= link_to 'Show', @pool %> |
<%= link_to 'Back', :controller => :pages, :action => :manage_groups %>
