<h1>Listing pools</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Timelimit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pools.each do |pool| %>
  <tr>
    <td><%= pool.name %></td>
    <td><%= pool.timelimit %> minutes</td>
    <td><%= link_to 'Show', pool %></td>
    <td>
      <% if pool.admin_id == current_user.id %>
        <%= link_to 'Edit', edit_pool_path(pool) %>
      <% else %>
        &nbsp;
      <% end %>
    </td>
    <td>
      <% if pool.admin_id == current_user.id && pool.users.empty? %>
        <%= link_to 'Delete', pool, :confirm => 'Are you sure you want to delete this Group?', :method => :delete %>
      <% else %>
        &nbsp;
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pool', new_pool_path %>
