<p>
  <b>Name:</b>
  <%= @pool.name %><br/>
  <% unless @pool.description.blank? %>
    <%= simple_format(h(@pool.description.strip)).gsub(/<(br \/|p)>(\s+)/) { "<#{$1}>#{'&nbsp;' * $2.length}" } %>
  <% end %>
</p>

<p>
  <b>Call Time Limit:</b>
  <%= @pool.timelimit %> minutes
</p>

<p>
  <b>Calls are available:</b>
  Every
  <% if @pool.available_time_mode == '15' %>
    Fifteen Minutes
  <% elsif @pool.available_time_mode == '20' %>
    Twenty Minutes
  <% elsif @pool.available_time_mode == '30' %>
    Thirty Minutes
  <% else %>
    Hour
  <% end %>
</p>

<p>
  <b>Public Group:</b>
  <%= @pool.public_group ? 'Yes' : 'No' %>
</p>

<p>
  <b>Allow others to send invites:</b>
  <%= @pool.allow_others_to_invite ? 'Yes' : 'No' %>
</p>

<p>
  <b>Members:</b><br>
  <% @users.each do |user| %>
    <%= gravatar_for user, :size => 30 %> <%= link_to user.name, user.profile_path %><br/>
  <% end %>
  <%= will_paginate @users %>
</p>

<% if @pool.admin_id == current_user.id %>
  <%= link_to 'Edit', edit_pool_path(@pool) %> |
<% end %>
<% if @pool.can_invite?(current_user) %>
   <%= link_to 'Invite Members', invite_pool_path(@pool) %> |
<% end %>

<%= link_to 'Back', :controller => :pages, :action => :manage_groups %>
