<p>
  <b>Name:</b>
  <%= @pool.name %>
</p>

<p>
  <b>Time Limit:</b>
  <%= @pool.timelimit %> minutes
</p>

<p>
  <b>Members:</b><br>
  <% @users.each do |user| %>
    <%= gravatar_for user, :size => 30 %> <%= link_to user.name, user.profile_path %><br/>
  <% end %>
  <%= will_paginate @users %>
</p>

<% if @pool.admin_id == current_user.id %>
  <%= link_to 'Edit', edit_pool_path(@pool) %> |
  <%= link_to 'Invite Members', invite_pool_path(@pool) %> |
<% end %>

<%= link_to 'Back', :controller => :pages, :action => :manage_groups %>
