<%= form_for(@phone) do |f| %>
<%= pretty_object_error_messages(@phone) %>

  <div class="field">
    <%= f.label :string, "Phone Number:" %>
    <%= f.text_field :string %>
  </div>
  <% if !@phone.primary or @phone.new_record? %>
	<div class="field">
	  <%= f.label :primary, " Primary " %>
	  <%= f.check_box :primary %><br>
	  <i>(If checked, this phone will be the default selection for any new events you may create)</i>
	</div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
