<h1>Your existing phone numbers:</h1>

<table>
  <tr>
    <th>Phone Number</th>
    <th>Primary</th>
    <th></th>
    <th></th>
  </tr>

<% @phones.each do |phone| %>
  <tr>
    <td><%= phone.string %></td>
    <td><%= phone.primary ? 'Primary' : '' %></td>
    <td><%= link_to 'Edit', edit_phone_path(phone) %></td>
    <td>
	  <% unless phone.primary %>
      <%= link_to 'Delete', phone, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a New Phone Number', new_phone_path %>
