<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Notes for your 15-Minute Call on <%= @date %></h2>
    (Your next call is at <% @current_user.next_call_time.strftime("%A %I:%M%P").sub(/ 0/,' ').titlecase %>)
	<% @participants.each do |user| %>
	  <% @user = user %>
	  <%= render 'pages/user_link' %>
	  <%= render 'pages/user_information' %>
	  <%= render 'pages/user_about' %>
	  <%= render 'pages/user_plan' %>
	  <hr>
	<% end %>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>