<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
    Hey <%= @user.name %>,
    </p>
    <p>&nbsp;</p>

    <p>
    <%= @sender.name %> has added you to the group: <%= @pool.name %>.  
    </p>
    <p>&nbsp;</p>

    <% unless @pool.description.blank? %>
      <p>
       The <%= @pool.name_plus_group %> is described as:<br/>
       <%=raw simple_format(h(@pool.description.strip).gsub(/\n/, "</p><p>")).gsub(/<(br \/|p)>(\s+)/) { "<#{$1}>#{'&nbsp;' * $2.length}" } %>
      </p>
      <p>&nbsp;</p>
    <% end %>

    <% unless @personal_message.blank? %>
      <p>
       <%= @sender.first_name %> included the personal message:<br/>
       <strong>
       <%=raw simple_format(h(@personal_message.strip).gsub(/\n/, "</p><p>")).gsub(/<(br \/|p)>(\s+)/) { "<#{$1}>#{'&nbsp;' * $2.length}" } %>
       </strong>
      </p>
      <p>&nbsp;</p>
    <% end %>

    <p>
    <% @timeslots = @pool.timeslots(@user) %>
    <% if @timeslots.any? %>
        <strong>To accept this invitation, choose a call time below:</strong><br/>
        <% @timeslots.each do |ts| %>
           <%= ts[:string] %> |
           <b><%= link_to 'Join this call', :controller => :pages, :action => :join, :only_path => false,
             :time => ts[:time], 
             :group_id => ts[:pool_id],
             :days => ts[:days].count == 1 ? ts[:days].join(',') : '',
            %></b>
           <br/>
        <% end %>
    <% else %>
      Your next step is to <%= link_to "choose which times you're available for the call.", 'http://www.15minutecalls.com' %>
    <% end %>
    </p>
    <p>&nbsp;</p>

    <p>
    Thanks, and enjoy. ;-) 
    </p>
    <p>&nbsp;</p>

    <p>
    -Blake 
    </p>
    <p>&nbsp;</p>

  </body>
</html>