<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
    This is an invitation from <%= @sender.name %> for you to join the group '<%= @pool.name %>'.  <%= @sender.first_name %>
    has created this group using <%= link_to "15 Minute Calls", 'http://www.15minutecalls.com' %>.  Simply pick a few times 
    during the week that you're available. We'll call you when the time arrives, and connect you with two other members.  It's
    simple and fun. ;-)
    </p>
    <p>&nbsp;</p>

    <% unless @pool.description.blank? %>
      <p>
       The <%= @pool.name_plus_group %> is described as:<br/>
       <%=raw simple_format(h(@pool.description.strip).gsub(/\n/, "</p><p>")).gsub(/<(br \/|p)>(\s+)/) { "<#{$1}>#{'&nbsp;' * $2.length}" } %>
      </p>
      <p>&nbsp;</p>
    <% end %>
  
    <% unless @personal_message.blank? %>
      <p>
       <%= @sender.first_name %> included the personal message:<br/>
       <strong>
       <%=raw simple_format(h(@personal_message.strip).gsub(/\n/, "</p><p>")).gsub(/<(br \/|p)>(\s+)/) { "<#{$1}>#{'&nbsp;' * $2.length}" } %>
       </strong>
      </p>
      <p>&nbsp;</p>
    <% end %>

    <p>
    Follow this link to <a href="http://www.15minutecalls.com/members/sign_up?invite_code=<%= @token %>">join the <%= @pool.name_plus_group %>.</a>
    </p>
    <p>&nbsp;</p>

    <p>
    Thanks, and enjoy. ;-) 
    </p>
    <p>&nbsp;</p>

    <p>
    -Blake 
    </p>
    <p>&nbsp;</p>
  
  </body>
</html>