<h2>Resend unlock instructions</h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= pretty_object_error_messages(resource) %>

  <p><%= f.label :email, :class => "round" %><br />
  <%= f.text_field :email, :class => "round" %></p>

  <p><%= f.submit "Resend unlock instructions" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>