<h3>Update Your Profile</h3>

<%= form_for(resource.with_phone, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
<%= pretty_object_error_messages(resource) %>
<div class="field">
  <p><%= f.label :name, "Full Name:", :class => "round" %>
  <%= f.text_field :name, :class => "round" %></p>
</div>
<div class="field">
  <p><%= f.label :email, "Email:", :class => "round" %>
  <%= f.text_field :email, :class => "round" %></p>
</div>
<div class="field">
<%= f.fields_for :phones do |pf| %>
  <% if pf.object.primary %>
  <p><%= pf.label :string, "Phone Number:", :class => "round" %>
  <%= pf.text_field :string, :class => "round" %><br/>
  <%= link_to "Add or Delete Phones", phones_path %>
  </p>
  <% end %>
<% end %>
</div>
<div class="field">
  <p><%= f.label :about, "Introductory text:", :class => "round" %><br/>
  <%= f.text_area :about, :class => "round" %></p>
</div>
<div class="field">
  <p><%= f.label :handle, "Handle:", :class => "round" %>
  <%= f.text_field :handle, :class => "round" %></p>
</div>
<div class="field">
  <p><%= f.label :facebook_uid, "Facebook ID:", :class => "round" %> (optional)
  <%= f.text_field :facebook_uid, :class => "round" %><br />
  </p>
</div>
<div class="field">
  <p><%= f.label :title, "Title:", :class => "round" %> (optional)
  <%= f.text_field :title, :class => "round" %><br />
  <i>(Software Developer, Graphic Designer, Author, etc...)</i>
  </p>
</div>
<div class="field">
  <p><%= f.label :location, "Location:", :class => "round" %> (optional) 
  <%= f.text_field :location, :class => "round" %><br />
  <i>(San Francisco, Seattle, etc.)</i>
  </p>
</div>
<div class="field">
  <p><%= f.label :time_zone, "Time Zone:", :class => "round" %>
  <%= f.collection_select :time_zone, ActiveSupport::TimeZone.us_zones, :name, :to_s %>
  </p>
</div>
<div class="field">
  <p><%= f.label :hide_email, "Hide my email address from other users:", :class => "round" %>
  <%= f.check_box :hide_email %>
  </p>
</div>
<div class="field">
  <p><%= f.label :use_ifmachine, "Go directly to conference:", :class => "round" %>
  <%= f.check_box :use_ifmachine %><br />
  <i>(Experimental: Use if your phone is having trouble sending keypresses)</i>
  </p>
</div>
<div class="field">
  <p><%= f.label :password, "Password:", :class => "round" %> 
  <%= f.password_field :password, :class => "round" %><br />
  <i>(leave blank if you don't want to change it)</i>
  </p>
</div>
<div class="field">
  <p><%= f.label :password_confirmation, "Password Confirmation:", :class => "round" %>
  <%= f.password_field :password_confirmation, :class => "round" %>
  </p>
</div>
<div class="field">
  <p><%= f.label :current_password, "Current Password:", :class => "round" %> 
  <%= f.password_field :current_password, :class => "round" %><br />
  <i>(we need your current password to confirm your changes)</i>
  </p>
</div>
<div class="actions">
  <p><%= f.submit "Update" %></p>
</div>
<% end %>

<devise class="round"> 
<ul><li><%= link_to "Back", :back %></li></ul>
</devise>

<br/>
