<% if @group %>
  <h3>Membership Form for <%= @group.name %></h3>
<% else %>
  <h3>Membership Form</h3>
<% end %>

<%= form_for(resource.with_phone, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

<%= pretty_object_error_messages(resource) %>

<% if @group && @invite %>
  <%= f.hidden_field 'invite_code', :value => @invite.invite_code %>
<% else %>
  <div class="field">
    <p><%= f.label :invite_code, "Invite Code:", :class => "round" %> 
    <%= f.text_field :invite_code, :class => "round" %><br />
    <i>(email support@15minutecalls.com for your invite code)</i>
    </p>
  </div>
<% end %>

<div class="field">
  <p><%= f.label :name, "Full Name:", :class => "round" %>
  <%= f.text_field :name, :class => "round" %>
  </p>
</div>
<div class="field">
  <p><%= f.label :email, "Email:", :class => "round" %>
  <%= f.text_field :email, :class => "round" %>
  </p>
</div>
<div class="field">
<% f.fields_for :phones do |pf| %>
  <p><%= pf.label :string, "Primary Phone:", :class => "round" %> 
  <%= pf.text_field :string, :class => "round" %><br />
  <i>(This is the number we will call for your 15 minute calls)</i>
  </p>
  <%= pf.hidden_field :primary, :value => true %>
<% end %>
</div>
<div class="field">
  <p><%= f.label :title, "Title:", :class => "round" %> (optional)
  <%= f.text_field :title, :class => "round" %><br />
  <i>(Software Developer, Graphic Designer, Author, etc...)</i>
  </p>
</div>
<div class="field">
  <p><%= f.label :location, "Location:", :class => "round" %> (optional) 
  <%= f.text_field :location, :class => "round", :autocomplete => "off" %><br />
  <i>(San Francisco, Seattle, etc.)</i>
  </p>
</div>
<div class="field">
  <newuser>
  <p><%= f.label :about, "A brief introduction:", :class => "round" %> (optional)<br/>
  <i>(What projects are you working on?  What are you focusing on?)</i><br/>
  <%= f.text_area :about, :size => "6x60", :class => "round" %></p>
  </newuser>
</div>
<div class="field">
  <p><%= f.label :time_zone, "Time Zone:", :class => "round" %>
  <%= f.collection_select :time_zone, ActiveSupport::TimeZone.us_zones, :name, :to_s %><br/>
  (We need your timezone, so we call you at the correct time)
  </p>
</div>
<div class="field">
  <p><%= f.label :password, "Password:", :class => "round" %>
  <%= f.password_field :password, :class => "round", :autocomplete => "off" %></p>
</div>
<div class="field">
  <p><%= f.label :password_confirmation, "Password Confirmation:", :class => "round" %>
  <%= f.password_field :password_confirmation, :class => "round", :autocomplete => "off" %></p>
</div>
<div class="actions">
  <p><%= f.submit "Sign up" %></p>
</div>
<% end %>

