<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p></p>
  <p><%= f.label :time, "Time we should call you:" %>
  <%= f.collection_select :time, Event.available_hours, :to_s, :to_s %></p>

  <p><label>Days we should call you:</label><br/>
      <%= check_box_tag 'on_sun', 0, @event.on_day(0) %> Sunday <br/>
      <%= check_box_tag 'on_mon', 1, @event.on_day(1) %> Monday <br/>
      <%= check_box_tag 'on_tue', 2, @event.on_day(2) %> Tuesday <br/>
      <%= check_box_tag 'on_wed', 3, @event.on_day(3) %> Wednesday <br/>
      <%= check_box_tag 'on_thr', 4, @event.on_day(4) %> Thursday <br/>
      <%= check_box_tag 'on_fri', 5, @event.on_day(5) %> Friday <br/>
      <%= check_box_tag 'on_sat', 6, @event.on_day(6) %> Saturday </p>

  <p><%= f.label :name, "Name of this call:" %> 
     <%= f.text_field :name %></br>
     <i>(This name is just used for you to refer to later)</i></p>


  <div class="actions">
    <%= f.submit "Update Your Availability" %>
  </div>
<% end %>
