<% if @events.any? %>
<p>
    <b>Your existing time slots:</b><br/>
    <% @events.each do |event| %>
	  <i><%= event.name_with_pool %></i> : <%= event.schedule_str %> | 
      <%= link_to "Edit", edit_event_path(event) %> |
      <%= link_to "Show", :controller => :pages, :action => :time_slot, :time => event.time %> |
      <%= link_to 'Delete', event_path(event), :confirm => 'Are you sure you want to delete this call?', :method => :delete %><br/>
    <% end %>
</p>
<% else %>
  <p>Below is a list of existing time-slots that other members have scheduled.  Simply <b>click the 'Join'</b> button to add yourself to the call. ;-)</p>
<% end %>
