<% if @conferences.any? %>
  <hr>
  <p><b><%= @your %> 15 Minute Calls:</b></p>
  <% @conferences.sort_by(&:started_at).reverse.each do |conference| %>
    <p>
    <%= conference.started_at.strftime("%a %b %e") %> <%= conference.started_at.strftime("%l:%M%p").downcase %>:
    <%= conference.status.titleize %>
    <br/>
    <% conference.users.each do |user| %>
       <%= gravatar_for user, :size => 30 %> <%= link_to user.name, "/u/" + user.handle %><br/>
    <% end %>
    </p>
  <% end %>
<% end %>