<p>
<% unless @view_options[:hide_view_current_conference] %>
  <% conference = current_user.conferences.first %>
  <% if conference and conference.status == 'in_progress' %>
    <b><%= link_to "View Current Conference", :controller => :pages, :action => :conference, :id => conference.id %></b><br/>
  <% end %>
<% end %>
<% unless @view_options[:hide_create_plan] %>
  <% bold_plan = !current_user.current_plan || current_user.current_plan.updated_at < Time.now - 24.hours %>
  <% if bold_plan %>
    <strong>
  <% end %>
  <%= link_to "Update Your Daily Goals", :controller => :pages, :action => :plan %>
  <% if bold_plan %>
    </strong>
  <% end %>
  <br/>
<% end %>
<% unless @view_options[:hide_update_intro] %>
  <% if current_user.about.blank? %>
    <strong>
  <% end %>
  <%= link_to "Update Your Introduction", :controller => :pages, :action => :intro %>
  <% if current_user.about.blank? %>
    </strong>
  <% end %>
  <br/>
<% end %>
<% unless @view_options[:hide_view_profile] %>
  <%= link_to "View Your Member Profile", current_user.profile_path %><br/>
<% end %>
<% unless @view_options[:hide_edit_profile] %>
  <%= link_to('Edit Your Member Information', edit_user_registration_path) %><br/>
<% end %>
<% unless @view_options[:hide_view_current_conference] %>
	<% conference = current_user.conferences.first %>
	<% if conference and conference.status != 'in_progress' %>
	  <%= link_to "View Recent Conference", :controller => :pages, :action => :conference, :id => conference.id %><br/>
	<% end %>
<% end %>
<% unless @view_options[:hide_call_groups] or @user.events.empty? %>
  <% if current_user.admin? %>
    <%= link_to "All Call Groups", :controller => :pages, :action => :call_groups %><br/>
  <% else %>
    <% call_groups = current_user.events.count > 1 ? 'groups' : 'group'%>
    <%= link_to "Who's in my call #{call_groups}?", :controller => :pages, :action => :call_groups %><br/>
  <% end %>
<% end %>
  <%= link_to "Manage Multiple Phones", phones_path %><br/>
<% if current_user.admin? %>
  <% unless @view_options[:hide_callcal] %>
    <%= link_to "Show existing call times", :controller => :pages, :action => :callcal %><br/>
  <% end %>
  <% unless @view_options[:hide_stranded_users] %>
    <%= link_to "Show stranded users", :controller => :pages, :action => :stranded_users %><br/>
  <% end %>
<% end %>
</p>
<% if @nextcalls.any? %>
  <p><strong><%= @your %> next <%= @nextcalls.count == 1 ? 'call' : "#{@nextcalls.count} calls" %>:</strong><br/>
  <% @nextcalls.each do |call| %>
    <%= call %><br/>
  <% end %>
  </p>
<% else %>
  <p><strong><%= @youhave %> no calls scheduled.</strong></p>
<% end %>
<% if @view_options[:show_users_preferences] %>
  <%= render 'users_preferences'%>
<% end %>
