<% if current_user.admin? %>
  <p><strong><%= link_to "Show existing call times", :action => :callcal %></strong></p>
<% end %>
<% if @nextcalls.any? %>
  <p><strong><%= @your %> next <%= @nextcalls.count == 1 ? 'call' : "#{@nextcalls.count} calls" %>:</strong><br/>
  <% @nextcalls.each do |call| %>
    <%= call %><br/>
  <% end %>
  </p>
<% else %>
  <p><strong><%= @you %> have no calls scheduled.</strong></p>
<% end %>
