<% if @user.about.blank? %>
  <p>Intro: None
  <% if @user == @current_user %>
    <% if @mailer %>
      <br/><strong><%= link_to "Update Your Introduction", 'http://www.15minutecalls.com/pages/intro' %></strong>
    <% else %>
      <br/><strong><%= link_to "Update Your Introduction", :controller => :pages, :action => :intro %></strong>
    <% end %>
  <% end %>
  </p>
  <% if @mailer%>
    <p>&nbsp;</p>
  <% end %>
<% else %>
  <% if @mailer %>
    <p>
	  <font size="+1"><%= h(@user.about.strip).gsub(/^( +)/) { "#{'&nbsp;' * $1.length}" }.gsub(/\n/,"<br/>\n") %></font>
      <% if @user == @current_user %>
        <br/><strong><%= link_to "Update Your Introduction", 'http://www.15minutecalls.com/pages/intro' %></strong>
      <% end %>
    </p>
    <p>&nbsp;</p>
  <% else %>
    <span class="quote"><%= simple_format('&#8220;' + h(@user.about.strip) + '&#8221;') %></span><p>&nbsp;</p><hr class="short" />
  <% end %>
<% end %>