<% plan = @user.current_plan %>
<% if plan %>
  <b><%= @my %> Goals: <i>(updated <%= time_ago_in_words(plan.created_at) %> ago)</i></b>
  <% if @mailer %>
    <p>
    <%= h(plan.body.strip).gsub(/^( +)/) { "#{'&nbsp;' * $1.length}" }.gsub(/\n/,"<br/>\n") %>
    <% if @user == @current_user %>
      <br/><strong><%= link_to "Update Your Daily/Weekly Goals", 'http://www.15minutecalls.com/pages/plan' %></strong>
    <% end %>
    </p>
  <% else %>
    <dl><dd>
    <span class="plan"><%= simple_format(h(plan.body.strip)).gsub(/<br \/>(\s+)/) { "<br />#{'&nbsp;' * $1.length}" } %></span>
    </dd></dl>
  <% end %>
<% else %>
  <p>Current Goals: None
  <% if @user == @current_user %>
    <% if @mailer %>
      <br/><strong><%= link_to "Update Your Daily/Weekly Goals", 'http://www.15minutecalls.com/pages/plan' %></strong>
    <% else %>
      <br/><strong><%= link_to "Update Your Daily/Weekly Goals", :controller => :pages, :action => :plan %></strong>
    <% end %>
  <% end %>
  </p>
  <% if @mailer%>
    <p>&nbsp;</p>
  <% end %>
<% end %>