Title: <%= @user.title.blank? ? 'None' : @user.title %><br/>
From: <%= @user.location.blank? ? 'None' : @user.location %><br/>
<% if !@user.hide_email || @current_user.admin? %>
  Email: <%= @user.email %><br/>
<% end %>
<% if @current_user.admin? %>
  Phone: <%= link_to @user.primary_phone.number_pretty, 
                     :controller => :pages, :action => :place_test_call, :user_id => @user.id %><br/>
<% end %>
Member Since: <%= @user.created_at.strftime("%B #{@user.created_at.day.ordinalize}, %Y") %><br/>
Status: 
<% if @current_user.admin? %>
  <%= link_to @user.member_status, :controller => :pages, :action => :calls, :member_id => @user.id %><br/>
<% else %>
  <%= @user.member_status %><br/>
<% end %>
Last Completed Call: 
  <% last_call_time = @user.last_successful_call_time %>
  <% if last_call_time %>
    <%= time_ago_in_words(last_call_time) %> ago
  <% else %>
    None
  <% end %>
<br/>

<p>&nbsp;</p>
