<% if @timeslots.any? %>
  <h3><%= @my %> Call <%= @groups %>:</h3>
  <p>Note: Only three of you will be on any one call....</p>
  <% @timeslots.each do |ts| %>
    <p><b>
	<% if ts[:pool_id] != Pool.default_pool.id %>
	  <i><%= Pool.find_by_id(ts[:pool_id]).name %>: </i>
	<% end %>
    <%= ts[:time] %> Call
    </b><br>
    <% ts[:event_ids].each do |event_id| %>
      <% event = Event.find_by_id(event_id) %>
      <% user = event.user %>
      <% if user %>
        <%= gravatar_for user, :size => 30 %> <%= link_to user.name, user.profile_path %> - <%= user.title %>
        <% if event.user == current_user %>
          <% if event.user.title.blank? %>
            <i>(<%= event.schedule_day_string %>)</i> - <%= link_to "Edit Your Availability", edit_event_path(event) %>
          <% else %>
            <i>(<%= event.schedule_day_string %> - <%= link_to "Edit", edit_event_path(event) %>)</i>
          <% end %>
        <% else %>
          <i>(<%= event.schedule_day_string %>)</i>
        <% end %>
        <br/>
      <% end %>
    <% end %>
    </p>
  <% end %>
<% else %>
 <h3>You currently aren't on any calls.</h3>
<% end %>