<% if @calls.any? %>
  <p><b>Recent Calls:</b></p>
  <table>
	<tr>
	  <th>ID</th>
	  <th>Time</th>
	  <th>Call</th>
	  <th>Duration</th>
	  <th>Member</th>
	  <th>Status</th>
    </tr>
  <% @calls.each do |call| %>
    <% time = call.created_at.in_time_zone('Pacific Time (US & Canada)') %>
    <% date = time.strftime("%a %b %e") %>
    <% user = '' %>
    <% if call.event_id %>
    <%   event = Event.find_by_id(call.event_id) %>
    <%   user = event.user.name if event %>
    <% end %>
    <tr>
	  <td><a href="https://www.twilio.com/user/account/log/view-call?callsid=<%= call.Sid %>&amp;callsegmentsid="><%= call.id %></a></td>
	  <td><%= date %> <%= time.strftime("%l:%M:%S%p").downcase %></td>
	  <td>
	  <% if call.Direction == 'inbound' %>
  	    In: <%= call.From ? call.From.sub(/\+1(\d{3})(\d{3})/, '(\1) \2-') : 'Nil' %>
      <% elsif call.Direction == 'outbound-api' %>
  	    <%= call.To ? call.To.sub(/\+1(\d{3})(\d{3})/, '(\1) \2-') : 'Nil' %>
      <% else %>
	    <%= call.From ? call.From.sub(/\+1(\d{3})(\d{3})/, '(\1) \2-') : 'Nil' %> --> <%= call.To ? call.To.sub(/\+1(\d{3})(\d{3})/, '(\1) \2-') : 'Nil' %>
      <% end %>
      </td>
	  <% if call.Duration %>
  	    <td><%= sprintf("%02i:%02i", call.Duration / 60, call.Duration % 60)%></td>
      <% else %>
        <td>None</td>
      <% end %>
	  <td><%= user %></td>
	  <td><%= call.status_category %></td>
	</tr>
	<tr>
	  <td colspan="7"><%= call.status %></td>
    </tr>
  <% end %>
  </table>
 <%= will_paginate @calls %>
<% end %>