<% if @call_groups.any? %>
  <h3><%= @my %> Call <%= @groups %>:</h3>
  <p>Note: Only three of you will be on any one call....</p>
  <% @call_groups.each do |cg| %>
    <p><b>
	<% if cg[:pool] != Pool.default_pool.id %>
	<i><%= Pool.find_by_id(cg[:pool]).name %>: </i>
	<% end %>
    <%= cg[:time] %> Call
    </b><br>
    <% cg[:events].each do |event_list| %>
    <% event = Event.find_by_id(event_list[0]) %>
    <% user = event.user %>
      <%= gravatar_for user, :size => 30 %> <%= link_to user.name, user.profile_path %> - <%= user.title %>
      <% if event.user == current_user %>
        <% if event.user.title.blank? %>
          <i>(<%= event.schedule_day_string %>)</i> - <%= link_to "Edit Your Availability", edit_event_path(event) %>
        <% else %>
          <i>(<%= event.schedule_day_string %> - <%= link_to "Edit", edit_event_path(event) %>)</i>
        <% end %>
      <% else %>
        <i>(<%= event.schedule_day_string %>)</i>
      <% end %>
      <br/>
    <% end %>
    </p>
  <% end %>
<% else %>
 <h3>You currently aren't on any calls.</h3>
<% end %>