<% if @calls.any? %>
  <p><b>Recent Calls:</b></p>
  <table>
	<tr>
	  <th>ID</th>
	  <th>Time</th>
	  <th>To</th>
	  <th>From</th>
	  <th>Direction</th>
	  <th>Duration</th>
	  <th>Member</th>
    </tr>
  <% @calls.each do |call| %>
    <% time = call.created_at.in_time_zone('Pacific Time (US & Canada)') %>
    <% date = time.strftime("%a %b %e") %>
    <% user = '' %>
    <% if call.event_id %>
    <%   event = Event.find_by_id(call.event_id) %>
    <%   user = event.user.name if event %>
    <% end %>
    <tr>
	  <td><%= call.id %></td>
	  <td><%= date %> <%= time.strftime("%l:%M:%S%p").downcase %></td>
	  <% if call.To == '+14157669865' %>
  	    <td>Twilio</td>
      <% else %>
  	    <td><%= call.To %></td>
      <% end %>
	  <% if call.From == '+14157669865' %>
  	    <td>Twilio</td>
      <% else %>
  	    <td><%= call.From %></td>
      <% end %>
	  <td><%= call.Direction %></td>
	  <% if call.Duration %>
  	    <td><%= sprintf("%02i:%02i", call.Duration / 60, call.Duration % 60)%></td>
      <% else %>
        <td>None</td>
      <% end %>
	  <td><%= user %></td>
	</tr>
	<tr>
	  <td colspan="7"><%= call.status %></td>
    </tr>
  <% end %>
  </table>
 <%= will_paginate @calls %>
<% end %>