<h3>Existing Users have calls scheduled at:</h3>
<table>
  <tr><th>Data</th><th>User Count</th></tr>
  <% @scheduled_events.each do |data| %>
    <% star = ''; bold = false %>
    <% if data[1] == 1 %>
      <% current_user.events.each do |event| %>
	    <% star = '*' if event.days.include?(data[0].wday) && event.hour_of_day == data[0].hour && event.minute_of_hour == data[0].min %>
      <% end %>
      <% bold = true if star.blank? %>      
    <% end %>
    <tr>
	  <td><%= data[0].strftime("%a %l:%M%p").humanize + data[0].strftime(" %Z") %></td>
	  <td><%= bold ? "<b>".html_safe : ''%><%= data[1] %><%= bold ? "</b>".html_safe : ''%><%= star %></td>
	</tr>
  <% end %>
</table>
