<%= render 'home_status_message' %>
<h3>Welcome</h3>
<p>
Welcome to the site!  I've had fun building it and meeting other members on the calls.  Hopefully, I'll get 
a chance to check-in with you on one of the upcoming calls. ;-) 
</p>
 
<h3>Getting Started</h3>
You'll want to do three things to get started:
<ul>
	<li>Choose a time for us to call you on the <%= link_to "home", root_path %> page</li>
    <li><%= link_to "Add an introduction", :controller => :pages, :action => :intro %>
	 that tells other a bit about what you're up to.</li>
    <li><%= link_to "Enter in a few of your goals", :controller => :pages, :action => :plan %></li>
</ul>
<p>
You can join an existing time-slot on the <%= link_to "home", root_path %> page simply by clicking on one of the
'Join' links.  This will add you to the list of people that get called at that time.
</p>
<p>
Your introduction is a place for you to state what your projects are and other things you're working on.
The other callers will be able to see this during your 15 minute call.  This is the big-picture stuff.  
I'm writing a book.  I'm building a new software project.  I'm starting my own business.  etc.
</p>
<p>
In the goals section, enter three goals for your week and what you're doing today to make progress on them.  Who are you 
going to email, when? Lunch plans?  Software features to write?  Phone calls to make?  This is the place to put them all in one place.
</p>
<%= render 'help_how_it_works' %>
<%= render 'help_calls' %>

<h3>Help! I'm not receiving any calls.</h3>
<p>
Some members have experienced problems receiving their first call.  If you have any sort of screening set on your phone (Google Voice, etc)
call will not make it through.  You can either provide a different number or configure your screening setup to allow direct calls from the
15 Minute Call number (415-766-9865)
</p>
<p>
To test it out, <%= link_to "click here to place a test call to #{current_user.primary_phone.number.sub(/\+1(\d{3})(\d{3})/, '(\1) \2-')}",
                            :controller => :pages, :action => :place_test_call %>.
</p>
<p>
If you're still having troubles receiving a call, please contact us at support@15minutecalls.com.
</p>

<h3>Avatars</h3>
<p>
If you include your facebook id in your profile, we will use your facebook photo for your avatar.  Otherwise we use
a service called gravatar to try and match your email up with an avatar.  Both work great, so you may fill in your
facebook id or link your email to an avatar on <%= link_to "gravatar", "http://en.gravatar.com/site/signup" %>.
</p>
<h3>Managing Phones</h3>
<p>
If you have multiple phone lines, you can <%= link_to "enter each of them into the system", phones_path %>.  We will
call you on your primary phone number, but you may call in using any of the other phones you list.
</p>
<%= render 'help_feedback' %>
