<%= form_for(current_user, :url => '/pages/intro') do |f| %>
  <%= pretty_object_error_messages(current_user) %>
  <div class="field">
    <p><%= f.label :about, "Update Introduction:", :class => "round" %><br/>
    <%= f.text_area :about, :class => "round" %></p>
  </div>
  <div class="actions">
    <%= f.submit "Update Introduction" %>
  </div>
<% end %>

