<%= render 'user_link' %>
<%= render 'existing_events'%>
<% if @groups.any? %>
  <% @groups.each do |group| %>
    <% @group = group %>
    <%= render 'group_other_timeslots'%>      
  <% end %>
<% end %>
<p><strong><%= link_to "View Public Groups", :controller => :pages, :action => :public_groups %></strong></p>
<%= render 'show_conferences'%>
<%= render 'random_tip' %>