<table class="profile" summary="Profile information">
  <tr>
	<td class="main">
      <%= render 'user_link' %>
      <%= render 'user_information' %>
      <%= render 'user_about' %>
  	  <%= render 'show_conferences'%>
    </td>
    <td class="sidebar round">
	  <%= render 'sidebar' %>
	</td>
  </tr>
</table>