<table class="profile" summary="Profile information">
  <tr>
	<td class="main">
	  <h1>
	    <%= gravatar_for @user %>
	    <%= @user.name %>
	  </h1>
	<% if @events.any? %>
	  <ul class="home">
	    <li><b>Your existing time slots:</b></li>
        <% @events.each do |event| %>
    	  <li><i><%= event.name %></i> : <%= event.schedule_str %> | <%= link_to "Edit", edit_event_path(event) %></li>
        <% end %>
	  </ul>
	<% end %>
	<% if @timeslots.any? %>
	  <ul class="home">
	    <li><b>Join an existing time slot:</b></li>
        <% @timeslots.each do |ts| %>
  	       <li><%= ts[:string] %> <b> | <%= link_to 'Join', "/foo#{ts[:name]}" %></b></li>
        <% end %>
	  </ul>
	<% end %>
	  <ul class="home">
	    <li><b><%= link_to "Create a new time slot.", new_event_path %></b></li>
	  </ul>
    </td>
    <td class="sidebar round">
      <strong><%= link_to "Create New Event", new_event_path %></strong><br/>
  	  <strong><%= link_to "Show existing call times", :action => :callcal %></strong><br/>
	</td>
  </tr>
</table>