<table class="profile" summary="Profile information">
  <tr>
	<td class="main">
	  <%= render 'user_link' %>
	  <%= render 'existing_events'%>
	  <%= render 'other_timeslots'%>
	  <%= render 'create_new_timeslot'%>
    </td>
    <td class="sidebar round">
	  <%= render 'sidebar' %>
	</td>
  </tr>
</table>