<% @groups.each do |group| %>
  <% @group = group %>
  <% admin = User.find_by_id(@group.admin_id) %>
  <p>
  <strong><%= link_to @group.name_plus_group, pool_path(@group) %></strong>: by <%= admin.name %><br/>
  Members: <%= @group.users.count %><br/>
  <% @timeslots = @group.timeslots(current_user, true) %>
  <%= render 'other_timeslots'%>
  <strong><%= link_to "Join the #{@group.name_plus_group}", :action => :join, :group_id => @group.id %></strong>
  </p>
<% end %>