<h3>Participants in the <%= @call_group[:time] %> 
	<% if @call_group[:pool] != Pool.default_pool.id %>
	  (<%= Pool.find_by_id(@call_group[:pool]).name %>)
	<% end %>
	group:</h3>
<p>Note: Only three of you will be on any one call....</p>
<p>
<% hide_join = false %>
<% @call_group[:events].each do |event_list| %>
<% event = Event.find_by_id(event_list[0]) %>
<% user = event.user %>
  <% hide_join = true if user == current_user %>
  <%= gravatar_for user, :size => 30 %> <%= link_to user.name, user.profile_path %> - <%= user.title %>
  <% if event.user == current_user %>
    <% if event.user.title.blank? %>
      <i>(<%= event.schedule_day_string %>)</i> - <%= link_to "Edit Your Availability", edit_event_path(event) %>
    <% else %>
      <i>(<%= event.schedule_day_string %> - <%= link_to "Edit", edit_event_path(event) %>)</i>
    <% end %>
  <% else %>
    <i>(<%= event.schedule_day_string %>)</i>
  <% end %>
  <br/>
<% end %>
</p>
<% unless hide_join %>
  <p>
  <b><%= link_to 'Join this call', :controller => :pages, :action => :join, :time => @call_group[:time] %></b>
  </p>
<% end %>

