<p>Hey there, <%= @resource.first_name %>.  Welcome to 15minutecalls.com</p>
<p>&nbsp;</p>
<p>I'm excited you've decided to sign up! There are four steps to get you to your first call.</p>
<p>&nbsp;</p>
<ol>
	<li><%= link_to 'Click here to confirm your account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></li>
    <li>Make sure we've got your phone set up properly. <%= link_to 'Click here to place a test call to your phone',
           'http://www.15minutecalls.com/pages/place_test_call' %></li>
    <li>Join one of <%= link_to 'the existing call groups.', 'http://www.15minutecalls.com/pages/my_profile' %> by clicking on one of the 'Join this group' links.</li>
    <li>Enter in a few of <%= link_to 'your goals or projects.', 'http://www.15minutecalls.com/pages/plan' %></li>
</ol>

<p>
That's it.  You're all set.  If you encounter <i>any</i> problems getting set up please contact me directly at blakem@15minutecalls.com
</p>

<p>
A few tips for making this work for you:
<ul>
  <li>There is some helpful information on the <%= link_to 'help page', 'http://www.15minutecalls.com/pages/help' %>.</li>
  <li>When the call begins, you will receive an email with the other participants goals.</li>
  <li>This information is also available during the call by clicking on the <b>View Current Conference</b> link in the sidebar</li>
  <li>If you miss the call or lose reception, you may call back into the number that called you (415-766-9865)</li>
  <li>We try hard to keep the groups consistent over time, but it does depend on who's available at what time.</li>
  <li>Your first few calls may have several different people on them. We try hard to keep the groups consistent
	  over time, but it does depend on who's available at what time.</li>
  <li>Keep an eye on the clock and move onto the next person at the 5 and 10 minute marks.</li>
</ul>
 
</p>