<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li> |
      <% if user_signed_in? %>
        <li><%= link_to "Guide/FAQ",  :controller => :pages, :action => :help %>
	  <% else %>
  	    <li><%= link_to "More Information",  :controller => :pages, :action => :help %> |
      <% end %>
      <%= render 'devise/menu/registration_items' %> |
	  <%= render 'devise/menu/login_items' %>
      <% if controller.admin_signed_in? %>
      | <li><%= link_to "Admin", '/admin' %></li> 
	  | <li><%= link_to "Data", '/admin_data' %></li>
      <% end %>	</ul>
  </nav>
</footer>
