<footer>
  <nav class="round">
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Home", root_path %></li> |
        <li><%= link_to "Guide/FAQ",  :controller => :pages, :action => :help %>
	  <% else %>
  	    <li><%= link_to "More Information",  :controller => :pages, :action => :help %> |
	    <li><%= link_to "Home", root_path %></li> |
      <% end %>
      <%= render 'devise/menu/registration_items' %> |
	  <%= render 'devise/menu/login_items' %>
      <% if controller.admin_signed_in? %>
        | <li><%= link_to "Admin", '/admin' %></li> 
        | <li><%= link_to "Data", '/admin_data' %></li>
        | <li><%= link_to "Clicky", 'http://getclicky.com/user/' %></li>
        | <li><%= link_to "Call Times", :controller => :pages, :action => :callcal %></li>
        | <li><%= link_to "Stranded Members", :controller => :pages, :action => :stranded_users %></li>
        | <li><%= link_to "Calls", :controller => :pages, :action => :calls %></li>
        | <li><%= link_to "Emails", :controller => :pages, :action => :emails %></li>
      <% end %>
    </ul>
  </nav>
</footer>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(66424135); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66424135ns.gif" /></p></noscript>

