<footer>
  <nav class="round">
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Home", root_path %></li> |
        <li><%= link_to "Guide/FAQ",  :controller => :pages, :action => :help %></li> |
        <li><%= link_to "Manage Phones", phones_path %></li> |
        <li><%= link_to "Manage Groups",  :controller => :pages, :action => :manage_groups %></li>
	    <% else %>
  	    <li><%= link_to "More Information",  :controller => :pages, :action => :help %></li> |
	      <li><%= link_to "Home", root_path %></li> |
      <% end %>
      <%= render 'devise/menu/registration_items' %> |
	    <%= render 'devise/menu/login_items' %>
      <% if controller.admin_signed_in? %>
        | <li><%= link_to "Admin", '/admin' %></li> 
        | <li><%= link_to "Data", '/admin_data' %></li>
        | <li><%= link_to "Clicky", 'http://getclicky.com/user/', :target => "_blank" %></li>
        | <li><%= link_to "Call Times", :controller => :pages, :action => :callcal %></li>
        | <li><%= link_to "Stranded", :controller => :pages, :action => :stranded_users %></li>
        | <li><%= link_to "Calls", :controller => :pages, :action => :calls %></li>
        | <li><%= link_to "Emails", :controller => :pages, :action => :emails %></li>
      <% end %>
    </ul>
  </nav>
</footer>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(66424135); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66424135ns.gif" /></p></noscript>

<% if Rails.env.production? %>
<script type="text/javascript">(function(a,ch_uid){ window.ch_uid=ch_uid; window.chattr={}; var chc = document.createElement('script'); chc.type = 'text/javascript'; chc.async = true; chc.src = ('https:' == a.location.protocol ? 'https' : 'http') + '://chattr.s3.amazonaws.com/chattr.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(chc,s); })(document,'2v2up2n13xc9wymv3hb3jfgaqq8i9712ttm8m0xfp2fdrsxkx0');</script>
<% end %>