<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Intro", :controller => :pages, :action => :homepage %>
        <li><%= link_to "Guide/FAQ", :controller => :pages, :action => :help %>
	  <% else %>
  	    <li><%= link_to "More Information", 'http://www.15minutecalls.com/pages/help' %>
	    <li><%= link_to "Home", root_path %></li>
      <% end %>
      <%= render 'devise/menu/registration_items' %>
	  <%= render 'devise/menu/login_items' %>
    </ul>
  </nav>
</header>